.iconCardFront {
  height: 56px;
  width: 56px;
}

.fa-search-location {
  color: #c75f2c;
  font-size: 38px;
  margin-left: 15px;
}

.timeCard {
  color: #8b735e;
  font-size: 12px;
  font-weight: 500;
  margin-top: 12px;
}

.card-title {
  color: #c75f2c;
  font-size: 24px;
  font-weight: bold;
  height: 42px;
  line-height: 1;
  margin-bottom: 1ren;
  text-transform: capitalize;
}

.card-subtitle-card {
  color: #00334e;
  font-weight: bold;
}

.moreDetailsTempCard {
  color: #8b735e;
  font-size: 14px;
  font-weight: 500;
}

.card-resultsHistory {
  background-image: linear-gradient(-225deg, #dec4c8 0%, #ffe6fa 100%);
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0, 51, 78, 0.38);
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  text-align: left;
  width: 18rem;
}

/*button*/

.btn-forecast {
  border: double thick #f6f5f5;
  color: #00334e;
  font-size: 15px;
  font-weight: bold;
  margin-top: 6px;
  padding: 6px;
}

.btn-forecast:hover {
  background-color: #f6f5f5;
  border: double thick #00334e;
  color: #00334e;
}

.btn-forecast:focus {
  box-shadow: none;
}

.btn-forecast-hidden {
  cursor: default;
  opacity: 0;
  pointer-events: none;
}

.flip-card {
  display: grid;
}

.flip-card.flip .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  grid-area: frontAndBack;
  transform-style: preserve-3d;
}

.flip-card-back {
  transform: rotateY(-180deg);
}

.flip-card-back .row {
  text-align: center;
}

.flip-card-back .col-3 {
  margin: auto 0;
  padding: 0px;
}

/*lay-out flip card*/

.card-forecastdays {
  background-color: #e5dae3;
  border: solid 2px #dec4c8;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0, 51, 78, 0.38);
  color: #00334e;
  font-family: "Rajdhani", sans-serif;
  height: 100%;
  line-height: 0.6;
}

.dayTemperature {
  color: #8b735e;
  font-size: 16px;
  font-weight: 600;
}

.forecastCard {
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}

.feelsLikeCold {
  font-size: 16px;
  font-weight: 600;
}

.iconCardBack {
  height: 38px;
  width: 38px;
}

.fa-window-close {
  color: #00334e;
  font-size: 25px;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}
