.formDestination {
  text-align: center;
}

input {
  background-color: #f6f5f5;
  border-radius: 6px;
  color: #00334e;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.9;
  padding: 1px;
  text-align: center;
}

input::placeholder {
  color: #00334e;
}
