.Header {
  background-image: url("../src/image/singapore.jpg");
  background-repeat: no-repeat;
  background-size: 600px;
  border: double thick #00334e;
  border-radius: 8px;
  color: #f6f5f5;
  height: 265px;
  padding: 30px;
}

.Header h3 {
  font-family: "Rajdhani", sans-serif;
  font-size: 31px;
  font-weight: 600;
  margin-bottom: 70px;
  text-align: center;
}

.Header .holiday {
  color: #00334e;
}

.fa-clock {
  color: #c75f2c;
}

.temperature {
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}

.locationCurrent {
  font-size: 16px;
  line-height: 1.5;
  padding: 0px;
}

.rightLocation {
  font-size: 16px;
  line-height: 1.5;
  padding: 0px;
  text-align: right;
}

#iconSingapore {
  height: 30px;
  width: 30px;
}

a.disabled {
  color: #f6f5f5;
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

a.disabled1 {
  color: #c75f2c;
}

.descriptionWeather {
  text-transform: capitalize;
}
